{{! The big featured header on the homepage, with the site logo and description }}
<header class="main-header {{#if @blog.cover}}" style="background-image: url({{@blog.cover}}){{else}}no-cover{{/if}}">
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title"><a href="http://beumel.net">{{@blog.title}}</a></h1>
            <h2 class="page-description">{{@blog.description}}</h2>
        </div>
        <div class="main-navigation">
          {{navigation}}
        </div>
    </div>
</header>
