{{!< default}}
<main class="content" role="main">
  {{#post}}
    <div class="row">
        <div>
          <div class="card grey lighten-5">
            <div class="card-content black-text">
              <span class="card-title">{{{title}}}</span>
                {{content}}
            </div>
            <div class="card-action">
              <time datetime="{{date format='DD-MMM-YYYY'}}">{{date format="DD MMM YYYY"}}</time>
              {{#if tags}}| in <u>{{tags}}{{/if}}</u>
            </div>
          </div>
        </div>
      </div>
    {{/post}}
</main>
